<form action="http://formspree.io/bxdbygax" method="POST">
  <input type="text" name="_gotcha" style="display: none" />
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" rows="5" placeholder="Your message"></textarea>
  <input type="submit" value="Send">
</form>
 <script>
    var contactform =  document.getElementById('contact-form');
    contactform.setAttribute('action', '//formspree.io/' + 'ebfairweather' + '@' + 'gmail' + '.' + 'com');
</script>      
<script>
var $contactForm = $('#contact-form');
$contactForm.submit(function(e) {
	e.preventDefault();
	$.ajax({
		url: '//formspree.io/your@email.com',
		method: 'POST',
		data: $(this).serialize(),
		dataType: 'json',
		beforeSend: function() {
			$contactForm.append('<div class="alert alert--loading"><h4>Sending message…</h4></div>');
		},
		success: function(data) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="alert alert--success"><h4>Message sent!</h4></div>');
		},
		error: function(err) {
			$contactForm.find('.alert--loading').hide();
			$contactForm.append('<div class="alert alert--error"><h4>Ops, there was an error.</h4></div>');
		}
	});
});
</script>
    