@media(min-width:768px){
    height:100vh;
    .vertical-middle{
        
        display: flex;
        justify-content: space-around;
        align-items: center;
        .panel{
            
            
            .panel-body{
                
                .form-horizontal{
                    
                    .form-group{  
                        .control-label{
                        
                        }
                        .form-control{
                        
                        }
                    }
                }
            }
        }   
    }
}

@media(max-width:767px){
    height:100vh;
  .vertical-middle{
 
   display: flex;
   justify-content: space-around;
   align-items: center;
    .panel{
        
        .panel-body{
            
            .form-horizontal{
                
                .form-group{  
                    .control-label{
                    
                    }
                    .form-control{
                    
                    }
                }
            }
        }
    }   
}  
}