html {
    margin: 0;
    padding: 0;
}

.background{
  height: 100vh;
  width:100vw;
  background-image:url(images/crabs_on_the_rocks.jpg); 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar{
    background-color: #2d2d30;
    
}

.navbar-default{
    
    .navbar-toggle {
		border: transparent;
        padding-top:14px;
        padding-bottom:14px;
        padding-left:15px;
        padding-right:15px;
	}
    .navbar-nav {
    
        & > li{
            
            & > a{
           color:#d5d5d5
             }
           }
        }
    }
#nav-icon3 {
	span {
		&:nth-child(1) {
			top: 0px;
		}
		&:nth-child(2) {
			top: 18px;
		}
		&:nth-child(3) {
			top: 18px;
		}
		&:nth-child(4) {
			top: 36px;
		}
	}
}
#nav-icon3.open {
	span {
		&:nth-child(1) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
		&:nth-child(2) {
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			left: 50%;
			top: 18px;
			width: 0%;
		}
	}
}



@import "views/home/home.less";
@import "views/about/about.less";
@import "views/portfolio/portfolio.less";
@import "views/contact/contact.less";