html {
    margin: 0;
    padding: 0;
}

.background{
  height: 100vh;
  width:100vw;
  background-image:url(images/crabs_on_the_rocks.jpg); 
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@import "views/home/home.less";
@import "views/about/about.less";
@import "views/portfolio/portfolio.less";
@import "views/contact/contact.less";