<footer class="position">
    <div class="facebook">
        <a href="https://www.facebook.com/ethan.fairweather">
            <i class="fa fa-3x fa-facebook-official facecolor">
            </i>
        </a>
    </div>
    <div class="twitter">
        <a href="https://twitter.com/eburrowfair">
            <i class="fa fa-3x fa-twitter twittercolor"></i>
        </a>
    </div>
    <div class="linkedin">
        <a href="https://www.linkedin.com/in/efairweather050990">
            <i class="fa fa-3x fa-linkedin-square linkedcolor"></i>
        </a>
    </div>
    <div class="github">
        <a href="https://github.com/craigdragon17">
            <i class="fa fa-3x fa-github gitcolor"></i>
        </a>
    </div>
</footer>