<div class="background background-1">
    <navbar></navbar>
        <div class="portfolio-ctrl">
            <div class="content">
                <div class="imagecontainer">
                    <div class="imgsize">
                        <img  src="http://res.cloudinary.com/djtbj5voh/image/upload/v1454440660/incwork_sqxjqn.png"/>
                    </div>
                    <div class="imgsize">
                        <img src="../../images/Screen Shot 2016-01-14 at 12.15.35 PM.jpg"/>
                    </div>
                </div>
            </div>
        </div>
    <foot></foot>
</div>  