<nav class="container-fluid navbar-fixed-top" id="headNav" role="navigation">
    <div class="navbar-header">
        <!--<div type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> 
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>-->
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="fa fa-bars fa-2x" style="font-size: 180%; margin: auto; color: black; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"aria-hidden="true"></span>
            <span class="sr-only">Toggle navigation</span>
         </button>
        <!--<div class="c-hamburger c-hamburger--htx collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span></span>
        </div>-->
            <a class="navbar-brand" href="/#/home">
                <i class="fa fa-code headercode"></i>  <span class="logotext">Ethan Fairweather</span>
            </a>
    </div>
   <div id="navbar" class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-right" id="nav">
           <li><a class="mobile" href="/#/home">Home</a></li>
           <li><a class="mobile" href="/#/about">About</a></li>
           <li><a class="mobile" href="/#/portfolio">Portfolio</a></li>
           <li><a class="mobile"href="/#/contact">Contact</a></li>
       </ul>
   </div>
       
</nav>