<div class="home-content-container">
    <div class="home-content-header">
        <p class="homeheadertext"> Ethan Burrow Fairweather</p>
    </div>
    <div class="content-section">
        <div class="profile">
            <img id="fontpic" src="http://res.cloudinary.com/djtbj5voh/image/upload/c_scale,h_300/v1454440634/IMG_1217ed8x10_n8elg2.jpg"/>
        </div>
    </div>
    <div class="home-content-footer">
        <p class="hometext">Front End Engineer and Business Analyst</p>
    </div>
</div>
<footer class="position ">
        <div class="facebook">
            <a href="https://www.facebook.com/ethan.fairweather">
                <i class="fa fa-3x fa-facebook-official facecolor">
                </i>
            </a>
        </div>
        <div class="twitter">
            <a href="https://twitter.com/eburrowfair">
                <i class="fa fa-3x fa-twitter twittercolor"></i>
            </a>
        </div>
        <div class="linkedin">
            <a href="https://www.linkedin.com/in/efairweather050990">
                <i class="fa fa-3x fa-linkedin-square linkedcolor"></i>
            </a>
        </div>
        <div class="github">
            <a href="https://github.com/craigdragon17">
                <i class="fa fa-3x fa-github gitcolor"></i>
            </a>
        </div>
    </footer>