@media(min-width:768px){
.about-content-container{
    display: flex;
        justify-content: center;
        align-items: center;
    .whoami{
        
        .aboutheadertext{
        display: flex;
        justify-content: center;
        align-items: center; 
        }
    }
    .aboutimage{
        
        img#aboutimg{
             height: 300px;
             width:240px;
             border-top-left-radius: 225px 200px;
             border-top-right-radius: 225px 200px;
             border-bottom-right-radius: 225px 200px;
             border-bottom-left-radius: 225px 200px;
        }
    }
    .aboutcontainer{
        display: flex;
        justify-content: center;
        align-items: center;
        .depotu{
            
            .depotuimage{
                
                .depotuimg{
                    
                }
            }
        }
        .uofa{
            
            .uofaimage{
                
                .uofaimg{
                    
                }
            }
        }
        .infotext{
            
        }
    }
    .aboutme{
        
    }
} 
} 
@media(max-width:767px){
 .about-content-container{
     width: 60%;
        padding-bottom: 2em;
        padding-top: 2em;
        margin-top: 4em;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1.25em;
        padding-right: 1.25em;
        max-width: 720px;
    .whoami{
        
        .aboutheadertext{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
    }
    .aboutimage{
        
        img#aboutimg{
             height: 150px;
             width:120px;
             border-top-left-radius: 112.5px 100px;
             border-top-right-radius: 112.5px 100px;
             border-bottom-right-radius: 112.5px 100px;
             border-bottom-left-radius: 112.5px 100px;
        }
    }
    .aboutcontainer{
        
        .depotu{
            
            .depotuimage{
                
                img#depotuimg{
                   height:47px;
                   width:209px; 
                }
            }
        }
        .uofa{
            
            .uofaimage{
                
                img#uofaimg{
                    
                }
            }
        }
        .infotext{
            
        }
    }
}  
    
    
}   