<div class="about-content-container row">
    <div class="whoiam">
        <p class="aboutheadertext">About Me</p>
    </div>
    <div class="aboutimage">
        <img id="aboutimg" src="../../images/IMG_1229.jpg"/>
    </div>
    <div class="aboutcontainer aboutme">
        <p class="infotext"> I am a front end engineer with a desire to further my skills into a full stack engineer. 
            I am a graduate of the University of Alabama; double majoring in General Business and Management.
            My passion is technology, my tools are my developer and business wits.
            I am a highly curious individual, but I like to keep my curiousity to endeavors that are constructive.
       </p>
    </div>
    <div class="aboutcontainer education">
        <div class="depotu">
            <div class="depotuimage">
                <img id="depotuimg" src="http://res.cloudinary.com/djtbj5voh/image/upload/c_scale,w_269/v1454783374/depotu_ex075b.jpg"/>
            </div>
            <p class="infotext">
               Depot/U is a full time developer bootcamp that immerses students in front-end web technologies and provides a solid foundation for developing responsive, scalable and dynamic web and/or mobile apps. 
            </p>
        </div>
        <div class="uofa">
            <div class="uofaimage">
                <img id="uofaimg" src="http://res.cloudinary.com/djtbj5voh/image/upload/v1454783243/1525537_zd6mcf.jpg"/>
            </div>
            <p class="infotext">
                
            </p>
        </div>
    </div>
</div>
