<div class="portfolio-ctrl">
    <div class="content">
        <div class="imagecontainer">
            <div class="imgsize">
                <img  src="http://res.cloudinary.com/djtbj5voh/image/upload/v1454440660/incwork_sqxjqn.png"/>
            </div>
            <div class="imgsize">
                <img src="http://res.cloudinary.com/djtbj5voh/image/upload/v1454852732/Screen_Shot_2016-01-14_at_12.15.35_PM_ttectn.png"/>
            </div>
            <div class="imgsize">
                <img src=""/>
            </div>
        </div>
    </div>
</div>